@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

:root{
    --blue:#2499f9;

}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: var(--blue);
    color: #333;

}

html{
    font-size: 61.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{

    width: 1.4rem;
}


html::-webkit-scrollbar-track{

  background: #222;
}

html::-webkit-scrollbar-thumb{

    background:var(--blue);
  }

header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/rkmhs.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 7rem;
    height: 7rem;
    /* z-index: 1000; */
    box-shadow:#2499f9 1px 1px 2px;
}

.logo-text{
    position: absolute;
    display:inline;
    top: 3rem;
    left: 9.5rem;
    color: #fff;
    font-size: 1.52rem;
    box-shadow:#2499f9 1px 2px  2px;
    /* z-index: 1; */
}

.nav-links{
    flex: 1;
    text-align: right;
    margin-right: 3rem;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: .5rem 2rem;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    font-size: 1.5rem;
}

.nav-links ul li::after{
    content: '';
    width: 0;
    height: .125rem;
    display: block;
    background: #2499f9;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.text-box h1{
    font-size: 4rem;
}
.text-box p{
    margin: .625rem 0 2.5rem;
    font-size: 1rem;

}
.btn{
    display: inline-block;
    color: #eee;
    border: 1px solid #fff;
    padding: 1rem 2rem ;
    font-size: 1rem;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid var(--blue);
    background: var(--blue);
    transition: 1s;
    transform: scale(1.3);
}
.nav-links i{

    display: none;
}
#menu{
    
    display: none;
}






/* media qurey strts..  */
@media(max-width: 700px){
    html{
        font-size: 56%;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background:var(--blue);
        height: 100vh;
        width: 200px;
        top: 0;
        left:-130%;
        /* left: -200px; */
        text-align: left;
        z-index: 2;
        transition: 1s;

    }
    .nav-links ul{
        padding: 2rem;
       
    }
    .nav-links ul li{
        border: 1px solid #eee;
        margin: 2rem 0;
        text-align: center;
        border-radius: 2rem;
    }
    .nav-links ul li:hover{
        background: rgba(238, 238, 238, 0.211);
        transition: 1s;
    }
    .nav-links i{
        
        display: block;
        font-size: 3rem;
        color: #fff;
        position:relative;
        top: 0;
        right:0;
        text-align:center;
        padding: 10px;
        cursor: pointer;
        background: rgba(89, 177, 248, 0.763);
        
    }
    #menu{
        display: block;
        font-size: 3rem;
        color: #fff;
        position: absolute;
        top: 20px;
        right: 30px;
        cursor: pointer;

    }
    
}
@media(max-width:400px){
    .nav-links{
        width: 100%;
        
    }
}
  